# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/PVZCapture
/Debug
/Libs
/PVZCapture/Debug
/SimpleGameFramework/.vs/SimpleGameFramework
/SimpleGameFramework/Debug
/SimpleGameFramework/docx
/SimpleGameFramework/Release
/vcpkg_installed/x86-windows
/PVZCapture/Release
